<div id="templatemo_menu">
        <ul>
            <li><a href="#" class="current"><span></span>Home</a></li>
            <li><a href="#"><span></span>Gallery</a></li>
            <li><a href="#"><span></span>Customer List</a></li>
            <li><a href="/forums/new"><span></span>Services</a></li>            
            <li><a href="#"><span></span>About Us</a></li>
            <li><a href="/contacts/new"><span></span>Contact Us</a></li>
        </ul>   
	</div> <!-- end of menu -->